{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
                <div class="col col-md-offset-3"></div>
                <div class="col col-md-6 col-md-offset-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <b class="text-info">Email Sent</b>
                        </div>
                        <div class="card-body">
                            <h1>Check your inbox.</h1>
                            <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                        </div>
                      </div>
                </div>
                <div class="col col-md-offset-3"></div>
              </div>
</div>



{% endblock %}