{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
                <div class="col col-md-offset-3"></div>
                <div class="col col-md-6 col-md-offset-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <b class="text-info">Set a new password</b>
                        </div>
                        <div class="card-body">
                                <form method="POST">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <input type="submit" value="Change my password">
                                </form>
                        </div>
                      </div>
                </div>
                <div class="col col-md-offset-3"></div>
              </div>
</div>

<!-- <h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form> -->

{% endblock %}