{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
                <div class="col col-md-offset-3"></div>
                <div class="col col-md-6 col-md-offset-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <b class="text-info">Password reset complete</b>
                        </div>
                        <div class="card-body">
                            <h1>Password reset complete</h1>
                            <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
                        
                        </div>
                      </div>
                </div>
                <div class="col col-md-offset-3"></div>
              </div>
</div>



{% endblock %}