{% extends 'base.html' %}

{% block title %}Restaurant Detail{% endblock %}

{% block slider %}

{% endblock %}



{% block content %}



<hr>

<div class="container">

        <div class="row mt-3"> <!-- Restaurant Details -->
            <div class="col-12 col-sm-7"> <!-- name, address-->

                        <h1 class="display-4 text text-info" style="font-family: 'Oswald', sans-serif;">{{ restaurant_object.name }}</h1>
                        <p class="lead">{{ restaurant_object.street }}, {{ restaurant_object.city }}, {{ restaurant_object.district }}, {{ restaurant_object.country }}</p>
                        <p>Contact : {{ restaurant_object.telephone }}</p>
                        <p>URL : {{ restaurant_object.url }}</p>
                        <p>Added by <a href="#"><b>{{ restaurant_object.user }}</b></a> on {{ restaurant_object.date }}</p>
                        
                        
                        <!-- <hr class="my-3"> -->
                        {% if request.user.is_authenticated %}
                        <a class="btn btn-primary btn-lg" href="{% url 'restaurant-create' %}" role="button">Add a Restaurant</a>
                        {% else %}
                        <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Login to add restaurants</a>
                        {% endif %}
            
            </div>
            <div class="col-12 col-sm-5"> <!-- picture -->
                <img src="{{ restaurant_object.image.url }}" class="img-fluid" alt="{{ restaurant_object.name }} photo" style="width:450px; height:300px;">
            </div>
        </div>
        
        <hr class="my-3">

        <div class="row my-5"> <!-- Dishes -->
            <div class="col text-center">  <!-- dishes name -->
                <h2 class="text text-info mx-auto" style="font-family: 'Oswald', sans-serif;"><i class="fas fa-utensils"></i>&nbsp;&nbsp;<b>DISHES</b></h2>
                
            </div>
            
            <div class="col text-center">
                {% if request.user.is_authenticated %}
                    <a class="btn btn-info btn-lg" href="{% url 'dishes-create' restaurant_object.id %}" role="button">Add Dishes</a>
                {% else %}
                    <a class="btn btn-info btn-lg" href="{% url 'login' %}" role="button">Login to Add Dishes</a>
                {% endif %}
            </div>
            
        </div>

        <div class="row"> <!-- dishes picture -->
            {% for dish in restaurant_object.dishes.all %}
                <div class="col-md-4 mb-5">
                    <div class="card" style="width: 18rem;">
                            <a href="{% url 'dishes-detail' restaurant_object.id dish.id %}"><img class="card-img-top" src="{{ dish.image.url }}" alt="{{ dish.name }} photo" style="width:286px; height: 200px;"></a>
                            <div class="card-body">
                            <a href="{% url 'dishes-detail' restaurant_object.id dish.id %}"><h5 class="card-title text-info">{{ dish.name }}</h5></a> 
                            <p class="card-text">Price - <b>{{ dish.price }}</b> TK. </p>
                            <a href="{% url 'dishes-edit' restaurant_object.id dish.id %}"><button class="btn btn-primary" >Edit</button></a>
                            </div>
                    </div>
                </div>
            {% empty %}
                <li>Sorry, no dishes for this restaurant yet.</li>
            {% endfor %}        
        </div>

        <!-- <div class="row my-5"></div> -->
        
    <div class="row my-5">  <!-- review system begins here -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-left text-info" style="font-family: 'Oswald', sans-serif;"><b><i class="fas fa-file-signature"></i>&nbsp;&nbsp;REVIEWS</b></h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {% for review in restaurant_object.restaurantreview_set.all %}
                            <h5 class="card-title"><b><i class="fas fa-user-circle"></i> {{ review.user }}</b><small> on {{ review.date }}</small> </h5>
                            <p class="card-text"><b class="text text-info"> {{ review.rating }} Star{{ review.rating|pluralize }} </b>{{ review.comment }}</p><hr>
                        {% empty %}
                            <li>Sorry, no reviews for this restaurant yet. You can add a review. </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <div class="card">
                        <div class="card-header">
                            {% if request.user.is_authenticated %}
                                <h3 class="text-info text-right"><b>Add a Reviews</b></h3>
                            {% else %}
                                <h3 class="text-info text-right"><b><a href="{% url 'login' %}" role="button">Login to Add Reviews</a></b></h3>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                    <form action="{% url 'review-create' restaurant_object.id %}" method="POST">
                                            {% csrf_token %}
                                            <b>Comment: </b><br><textarea name="comment" id="comment" rows="" class="form-control"></textarea>
                
                                            <p class="mt-3"><b>Rating:</b></p>
                
                                            {% for rate in RATING_CHOICES %}
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
                                                <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br/>
                                            {% endfor %}
                
                                            <input type="submit" value="Review" class="text text-info"/>
                                        </form>
                            </div>
                        </div>
                    </div>
        </div>




                    
    </div> <!-- row my-5 end -->
                
</div> <!-- container end -->


{% endblock %}

