{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add Restaurant{% endblock %}

{% block slider %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col col-md-offset-3"></div>
      <div class="col col-md-6 col-md-offset-3">
          <div class="card">
              <div class="card-header text-center">
                <b class="text-info">Add Restaurant</b>
              </div>
              <div class="card-body">
                  <form action="" method="POST" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ form|crispy }}

                    {{ form.errors }}

                    <button type="submit" class="btn btn-success">Submit</button>
                  </form>
              </div>
            </div>
      </div>
      <div class="col col-md-offset-3"></div>
    </div>
</div>


{% endblock %}